section.reveal
    h2 Padrões de Objetos Javascript
    img(src='./img/js-official-logo.png', height='250')
    p
        small Por
            a(href='http://github.com/rdiego26' target='_blank') Diego Ramos