section.reveal
    section
        h2 O que iremos ver ?
        ol
            li Introdução a objetos Objetos
            li Evitando modificações em objetos
            li Padrões ( é por isso que estamos aqui, certo? )
                ol
                    li Constructor
                    li Namespace
                    li Chaining
                    li Clojure
    section
        h1 Slide 2 - 2
        ul
            li item1
            li item2
            li item3
            li item4